@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url(https://db.onlinewebfonts.com/c/6a85b1646cad955807f12722ecd39ed3?family=Blaze+ITC+Italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 80px;
    transition: 0.5s ease;
}

.logo {
    max-width: 100px;
}

header .title {
    color: #fff;
    font-size: 2.4em;    
    line-height: 2.3em;
    font-weight: 750;
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-family: "Blaze ITC Italic";
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #33ff65;
}

.home:before {
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(143, 145, 145, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 45px;
    margin-bottom: 25px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 10px 20px;
    color: darkgreen;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.5s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 35px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.2s ease;
}

.slider-navigation .nav-btn.active {
    background: #33ff65;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 1s ease;
    transition-property: clip-path;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.8rem 6%;
    background: #6C79D9;
}
.footer-text p {
    font-size: 1rem;
    text-align: center;
    color: #fff;
}

.footer-text p a{
    color: #fff;
    width: auto;
    font-size: 1.25rem;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
        transition: 0.5s ease;
    }

    section {
        padding: 60px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 100%;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(./assest/menu-alt-right-regular-24.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(./assest/window-close-regular-24.png) no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 0.3s ease;
        font-size: 2rem;
        color: #fff;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 365px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
.headerLeft{
    display: flex;
    flex-direction: row;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer img{
    height: 2rem;
    margin-right: 1rem;
}